numpy==1.24.1
tensorflow-gpu==2.12.0
tensorflow_addons==0.13.0
transformers==4.18.0
sentencepiece==0.1.96
Cython==0.29.32
dependency_decoding @ git+https://github.com/andersjo/dependency_decoding 
matplotlib
psutil
pyyaml
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.0+cu113
marisa-trie
